*.py[cod]

*.sln
*.pyproj
/.vs
*.suo
*.sqlite

*.pyc
*.json
*.sh
*.log
.ehentai.cookie
release
desktop.ini
verinfo.txt
.atomignore
make.bat
config.py
README.html
CHANGELOG.html
.vs/xeHentai/v15/.suo
xeHentai.pyproj
*.sln
